<form
        action="recibe-parametros"
        method="post"
        th:object="${formulario}"
>
    <input
            type="hidden"
            name="iteracion"
            th:value="${iteracion}"
    >

    <fieldset
            th:insert="~{Fragmentos/datosFormulario/datosUsuario}"
    />

    <fieldset
            th:insert="~{Fragmentos/datosFormulario/datosPersonales}"
    />

    <fieldset
            th:insert="~{Fragmentos/datosFormulario/datosContacto}"
    />

    <fieldset
            th:insert="~{Fragmentos/datosFormulario/otraInformacion}"
    />

    <div class="error">
        <th:block
                th:if="${#fields.hasErrors('global')}"
                th:errors="global"
        />
    </div>

    <div
            th:insert="~{Fragmentos/datosFormulario/operacionesFormulario}"
    />
</form>