<legend>
    Datos Personales
</legend>

<table>
    <tr
            id="tr_genero"
    >
        <td>
            <label
                    th:text="#{etiqueta_genero}"
            />
        </td>
        <td>
            <th:block
                    th:each="genero : ${lista_generos}"
            >
                <label
                        th:text="${genero.value}"
                        th:for="${genero.value}"
                />
                <input
                        type="radio"
                        th:field="*{genero}"
                        th:id="${genero.value}"
                        th:value="${genero.value}"
                />
            </th:block>
        </td>
    </tr>
    <tr th:each="error : ${#fields.errors('genero')}" class="error">
        <td colspan="2"><th:block th:text="${error}" class="error"/></td>
    </tr>

    <tr
            id="tr_fechaNacimiento"
    >
        <td>
            <label
                    th:text="#{etiqueta_fechaNacimiento}"
                    th:for="fechaNacimiento"
            />
        </td>
        <td>
            <input
                    type="text"
                    th:field="*{fechaNacimiento}"
                    placeholder="dd/mm/aaaa"
            >
        </td>
    </tr>
    <tr th:each="error : ${#fields.errors('fechaNacimiento')}" class="error">
        <td colspan="2"><th:block th:text="${error}" class="error"/></td>
    </tr>

    <tr
            id="tr_edad"
    >
        <td>
            <label
                    th:text="#{etiqueta_edad}"
                    th:for
            />
        </td>
        <td>
            <input
                    type="text"
                    th:field="*{edad}"
                    placeholder="0"
            >
        </td>
    </tr>
    <tr th:each="error : ${#fields.errors('edad')}" class="error">
        <td colspan="2"><th:block th:text="${error}" class="error"/></td>
    </tr>

    <tr
            id="tr_paisNacimiento"
    >
        <td>
            <label
                    th:text="#{etiqueta_paisNacimiento}"
                    th:for="siglasPais"
            />
        </td>
        <td>
            <select
                    th:field="*{siglasPais}"
            >
                <option
                        th:id="${pais.value.getPais()}"
                        th:each="pais : ${lista_paises}"
                        th:value="${pais.key}"
                        th:text="${pais.value.getPais()}"
                />
            </select>
        </td>
    </tr>
    <tr th:each="error : ${#fields.errors('siglasPais')}" class="error">
        <td colspan="2"><th:block th:text="${error}" class="error"/></td>
    </tr>

</table>

