<legend>
    Datos Usuario
</legend>
<table>
    <tr
            id="tr_nombre"
    >
        <td>
            <label
                th:text="#{etiqueta_nombre}"
                th:for="nombre"
            />
        </td>
        <td>
            <input
                    type="text"
                    th:field="*{nombre}"
                    tabindex="1"
                    placeholder="Introduce tu nombre"
            />
        </td>
    </tr>

    <tr
            id="tr_clave"
    >
        <td>
            <label
                th:text="#{etiqueta_clave}"
                th:for="clave"
            />
        </td>
        <td>
            <input
                    type="password"
                    th:field="*{clave}"
                    tabindex="2"
                    placeholder="Introduce la contraseña"
            >
        </td>
    </tr>

    <tr
            id="tr_confirmarClave"
    >
        <td>
            <label
                    th:text="#{etiqueta_confirmarClave}"
                    th:for="confirmarClave"
            />
        </td>
        <td>
            <input
                    type="password"
                    th:field="*{confirmarClave}"
                    tabindex="3"
                    placeholder="Vuleve a introducirla"
            >
        </td>
    </tr>

    <tr
            id="tr_botonMostrarClaves"
    >
        <td>
            <button
                    type="button"
                    onclick="alternarFunciones()"
            >
                Mostrar claves
            </button>
        </td>
    </tr>
</table>