<input type="hidden" th:field="*{iteraciones}">
<label th:text="#{etiqueta_nombre}"></label><input type="text" th:field="*{nombre}">
<label th:text="#{etiqueta_clave}"></label><input type="password" th:field="*{clave}">
<label th:text="#{etiqueta_confirmarClave}"></label><input type="password" th:field="*{confirmarClave}">

<th:block th:each="genero : ${lista_generos}">
    <label th:text="${genero.value}"/>
    <input type="radio" th:field="*{generoSeleccionado}" th:value="${genero.value}" />
</th:block>
<button onclick=""></button>

<label th:text="#{etiqueta_fechaNacimiento}"></label><input type="text" th:field="*{fechaNacimiento}">
<label th:text="#{etiqueta_nombre}"></label><input type="text" th:field="*{nombre}">
<label th:text="#{etiqueta_nombre}"></label><input type="text" th:field="*{nombre}">
