<div
        id="div_licencia"
>
    <label
            th:text="#{etiqueta_Licencia}"
            th:for="licencia1"
    />
    <input
            type="checkbox"
            th:field="*{licencia}"
    />
    <div th:each="error : ${#fields.errors('licencia')}" class="error">
        <th:block th:text="${error}" class="error"/>
    </div>
</div>
<input
        type="submit"
        th:value="#{boton_Enviar}"
/>
<input
        type="reset"
        th:value="#{boton_Restablecer}"
/>
<input
        type="button"
        th:value="#{boton_Limpiar}"
        onclick="borrarCampos()"
/>

<br/>