<div
        id="div_licencia"
>
    <label
            th:text="#{etiqueta_Licencia}"
            th:for="licencia1"
    />
    <input
            type="checkbox"
            th:field="*{licencia}"
    />
</div>
<input
        type="submit"
        th:value="#{boton_Enviar}"
/>
<input
        type="reset"
        th:value="#{boton_Restablecer}"
/>
<input
        type="button"
        th:value="#{boton_Limpiar}"
        onclick="borrarCampos()"
/>

<br/>

<!--<select id="idioma" name="lang" onchange="cambiarIdioma()">-->
<!--    <option value="en">English</option>-->
<!--    <option value="es">Español</option>-->
<!--</select>-->

<!--<script>-->
<!--    function cambiarIdioma() {-->
<!--        let selectedOption = document.getElementById("idioma").value;-->
<!--        window.location.replace('?lang=' + selectedOption);-->
<!--    }-->
<!--</script>-->